body {
	background-color : #232323;	
	margin:0;
	font-family:'Nunito Sans','sans-serif';
}

.square {
	width:30%;
	padding-bottom: 30%;
	float:left;
	margin:1.66%;
	background-color: purple;
}

#container{
	max-width: 600px;
	margin: 0 auto;
}

#title{
	color:white;
	text-align:center;
	margin:0;
	line-height:1.1;
	padding:20px 0;
	background-color:#ffd54f;
	text-transform: uppercase;
	font-size: 250%
}
#stripe{
	background-color: #C2C0BF;
	text-align:center;
	height:30px;
	color:black;
}

.disabled{
	color:white;
	background-color:#DBDBDB;
}

.enabled{
	background-color:grey;
}

button{
	border: none;
	background:none;
	text-transform: uppercase;
	height:100%;
	font-weight: 700;
	color:white ;
}

button:hover{
	color:#ffd54f;
}

#message{
	font-family: 'Anton', sans-serif;
}

#message{
	display: inline-block;
	width:20%;
}